<div class="container">
<div class="card-content" style="display: flex; justify-content: center;">
  <div class="row">
    <div class="col-md-12 " style="width: 600px">
      <br />
      <div class="col-md-12 offset-md-1">
        <h3>Reset Password</h3>
        <p class="text">Please enter your email address to request a password reset.</p>
        <br>
        <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="form-floating">
              <mat-form-field appearance="fill" [style.width.px]=600>
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email" autocomplete="email">
                <mat-error *ngIf="isValid()">
                  <span *ngIf="isValid()">{{getErrorMessage()}}</span>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <button mat-raised-button type="submit" style="border-radius: 25px; width: 600px" [disabled]="authForm.invalid"  (click)="onSubmit()" color="primary">Reset Password</button>
          </div>
        </form>
        <hr>

        <button mat-raised-button style="border-radius: 25px; width: 600px; margin-left: -12px" routerLink="/sign-in">Go back to Sign In</button>
      </div>
    </div>
  </div>
</div>
</div>
